// COLORS:

$background: white;
$backgroundHighlight: #eeeeee;
$backgroundSecondaryHighlight: #f5f5f5;
$border: #e5e5e5;

$foreground: black;

$primary: #4b95e0;
$success: #86ce3c;
$disabled: #c2c2c2;
