// COLORS:

$background: white;
$backgroundHighlight: #dddddd;
$backgroundSecondaryHighlight: #f1f1f1;
$border: #c7c7c7;

$foreground: black;

$primary: rgb(61, 129, 255);
$success: rgb(62, 184, 62);
