@use "/src/app/theme.module.scss";

.file-table-row {
  cursor: pointer;

  &:hover {
    background-color: theme.$backgroundSecondaryHighlight;
  }

  &.selected {
    background-color: theme.$backgroundHighlight;
  }

  td {
    padding: 12px 24px;

    .status-cell {
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: center;
    }
  }
}
